<nav>
    <div class="nav-buttons">
        <button id="CurrentDisplayButton" onclick="location.href='CurrentDisplay.php'">Current Display</button>
        <button id="PresetsButton" onclick="location.href='Presets.php'">Preset Text Displays</button>
        <button id="ChangeDisplayButton" onclick="location.href='ChangeDisplay.php'">Custom Text Display</button>
        <button id="ChangeImageButton" onclick="location.href='ChangeImage.php'">Custom Image Display</button>
        <button id="SettingsButton" onclick="location.href='Settings.php'">Settings</button>
        <button id="LogoutButton" onclick="location.href='/../ScriptFiles/Logout.php'">Sign Out</button>
    </div>
</nav>