<nav>
    <div class="nav-buttons">
        <button id="CurrentDisplayButton" onclick="location.href='CurrentDisplay.php'">Current Message</button>
        <button id="ChangeDisplayButton" onclick="location.href='ChangeDisplay.php'">Change Message</button>
        <button id="EditCustomPresets" onclick="location.href='EditPresets.php'">Edit Custom Presets</button>
        <button id="SettingsButton" onclick="location.href='Settings.php'">Settings</button>
        <button id="LogoutButton" onclick="location.href='/../ScriptFiles/Logout.php'">Sign Out</button>
    </div>
</nav>